* {
    background-color: lightyellow;
    line-height: 200px;
}

.About {
    background-color: darkblue;
}

.Work {
    background-color: blue;
}

.Contact {
    background-color: dodgerblue;
}

.Resume {  
    background-color: lightseagreen;
}
