* {
    background-color: linen;
    line-height: 150px;
}

#About {
    background-color: darkblue;
}

#Work {
    background-color: blue;
}

#Contact {
    background-color: dodgerblue;
}

#Resume {  
    background-color: lightseagreen;
}

.topnav {
    float: right;
}