* {
    background-color: linen;
    line-height: 150px;
}

h1 {
    text-align: center;
}

td {
    align-content: space-between;
}

#About {
    color: white;
    background-color: darkblue;
}

#Work {
    background-color: blue;
}

#Contact {
    background-color: dodgerblue;
}

#Resume {  
    background-color: lightseagreen;
}

.topnav {
    float: right;
}

.Work {
    justify-content: space-between;
}
.profileimg {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }